<!--{{ range .Site.Menus.main }}
<a class="mobile-menu-item" href="{{ .URL }}">{{ .Name }}</a>
{{end}}-->



<a class="mobile-menu-item" href="{{ "uvod.html" | relURL }}">Úvod</a>
<a class="mobile-menu-item" href="{{ "autori.html" | relURL }}">Autoři</a>
<a class="mobile-menu-item" href="{{ "knihy.html" | relURL }}">Knihy</a>
<a class="mobile-menu-item" href="{{ "finance.html" | relURL }}">Finance</a>
<a class="mobile-menu-item" href="{{ "kontakt.html" | relURL }}">Kontakt</a>
<a class="mobile-menu-item" href="{{ "english-version.html" | relURL }}"><img src="/images/uk-flag.svg"
                class="uk-flag" /></a>