<a class="menu-item" href="{{ "uvod.html" | relURL }}">ÚVOD</a>
<a class="menu-item" href="{{ "autori.html" | relURL }}">AUTOŘI</a>
<a class="menu-item" href="{{ "knihy.html" | relURL }}">KNIHY</a>
<a class="menu-item" href="{{ "finance.html" | relURL }}">FINANCE</a>
<a class="menu-item" href="{{ "kontakt.html" | relURL }}">KONTAKT</a>
<a class="menu-item" href="{{ "english-version.html" | relURL }}"><img src="/images/uk-flag.svg" class="uk-flag" /></a>



<!--<a class="menu-item" href="/uvod/">ÚVOD</a>
<a class="menu-item" href="/autori/">AUTOŘI</a>
<a class="menu-item" href="/texty/">TEXTY</a>
<a class="menu-item" href="/kontakt/">KONTAKT</a>-->

<!--{{ range .Site.Menus.main }}<br />

<a class="menu-item" href="{{ .URL }}">{{ .Name }}</a><br />
{{end}} <br />-->

<!--<br /><br /><br />
<br /><br /><br />
<br /><br /><br />

{{ range .Site.Menus.main }}

<a class="menu-item" href=""></a><br />

{{end}}-->